n8n/workflow.json
{
  "name": "PM Job Hunter — India + Middle East",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "30 2 * * *"
            }
          ]
        }
      },
      "id": "00000000-0000-0000-0000-000000000001",
      "name": "Daily 8 AM IST",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [240, 320]
    },
    {
      "parameters": {
        "language": "javaScript",
        "mode": "runOnceForAllItems",
        "jsCode": "// Single-node pipeline up to scoring:\n//   read config + resumes  →  fetch each board (parallel, in-node via https)\n//   →  normalize  →  filter  →  dedup  →  route resume  →  attach prompt\n//\n// Uses Node's built-in https module instead of fetch(), because n8n's task\n// runner sandbox (introduced in 2.x) strips fetch from the global scope.\n// `https` works because it's added to NODE_FUNCTION_ALLOW_BUILTIN in compose.\n\nconst fs = require('fs');\nconst https = require('https');\nconst http = require('http');\n\nconst root = '/data';\nconst readJson = (p) => JSON.parse(fs.readFileSync(`${root}/${p}`, 'utf8'));\nconst readText = (p) => fs.readFileSync(`${root}/${p}`, 'utf8');\n\nconst sources = readJson('config/sources.json');\nconst filters = readJson('config/filters.json');\nconst routing = readJson('config/resume_routing.json');\n\nconst resumes = {};\nfor (const f of fs.readdirSync(`${root}/resumes`)) {\n  if (f.endsWith('.txt')) resumes[f] = readText(`resumes/${f}`);\n}\n\nconst lower = (s) => (s || '').toString().toLowerCase();\nconst strip = (html) => (html || '').replace(/<[^>]+>/g, ' ').replace(/&[a-z]+;/gi, ' ').replace(/\\s+/g, ' ').trim();\n\n// --- FETCH (parallel, via Node built-in https/http) ----------------------\nconst getJson = (url) => new Promise((resolve, reject) => {\n  const client = url.startsWith('https') ? https : http;\n  const req = client.get(url, {\n    headers: { 'Accept': 'application/json', 'User-Agent': 'pm-job-hunter/1.0' },\n    timeout: 15000,\n  }, (res) => {\n    if (res.statusCode >= 300 && res.statusCode < 400 && res.headers.location) {\n      // follow one redirect hop\n      return resolve(getJson(new URL(res.headers.location, url).toString()));\n    }\n    let chunks = [];\n    res.on('data', c => chunks.push(c));\n    res.on('end', () => {\n      const body = Buffer.concat(chunks).toString('utf8');\n      if (res.statusCode < 200 || res.statusCode >= 300) {\n        return reject(new Error(`HTTP ${res.statusCode}`));\n      }\n      try { resolve(JSON.parse(body)); }\n      catch (e) { reject(new Error('JSON parse failed: ' + e.message)); }\n    });\n  });\n  req.on('timeout', () => { req.destroy(); reject(new Error('timeout')); });\n  req.on('error', (e) => reject(e));\n});\n\nconst fetchOne = async (b) => {\n  try {\n    const data = await getJson(b.fetch_url);\n    return { ok: true, data, src: b };\n  } catch (e) {\n    return { ok: false, error: String(e?.message || e), src: b };\n  }\n};\n\nconst responses = await Promise.all((sources.boards || []).map(fetchOne));\n\n// --- NORMALIZE -----------------------------------------------------------\nconst normalize = ({ data, src }) => {\n  const out = [];\n  if (!data) return out;\n  if (src.board_type === 'greenhouse') {\n    for (const j of (data.jobs || [])) {\n      out.push({\n        id: `gh:${src.slug}:${j.id}`,\n        title: j.title || '',\n        company: src.company,\n        location: j.location?.name || '',\n        url: j.absolute_url || '',\n        jd: strip(j.content || ''),\n        region: src.region,\n      });\n    }\n  } else if (src.board_type === 'lever') {\n    const jobs = Array.isArray(data) ? data : [];\n    for (const j of jobs) {\n      const jd = [j.descriptionPlain, ...(j.lists || []).map(l => `${l.text || ''}: ${strip(l.content || '')}`)].filter(Boolean).join('\\n');\n      out.push({\n        id: `lv:${src.slug}:${j.id}`,\n        title: j.text || '',\n        company: src.company,\n        location: j.categories?.location || j.workplaceType || '',\n        url: j.hostedUrl || j.applyUrl || '',\n        jd,\n        region: src.region,\n      });\n    }\n  } else if (src.board_type === 'ashby') {\n    for (const j of (data.jobs || [])) {\n      const secondaryStrs = (j.secondaryLocations || []).map(s => (typeof s === 'string' ? s : (s?.location || s?.name || ''))).filter(Boolean);\n      const locBits = [j.location || '', j.workplaceType || '', ...secondaryStrs];\n      if (j.isRemote) locBits.push('remote');\n      const location = locBits.filter(Boolean).join(' | ');\n      const jd = j.descriptionPlain || strip(j.descriptionHtml);\n      out.push({\n        id: `ab:${src.slug}:${j.id}`,\n        title: j.title || '',\n        company: src.company,\n        location,\n        url: j.jobUrl || j.applyUrl || '',\n        jd,\n        region: src.region,\n      });\n    }\n  } else if (src.board_type === 'smartrecruiters') {\n    for (const j of (data.content || [])) {\n      const loc = j.location || {};\n      const locBits = [loc.fullLocation, loc.city, loc.region, loc.country];\n      if (loc.remote) locBits.push('remote');\n      if (loc.hybrid) locBits.push('hybrid');\n      const location = locBits.filter(Boolean).join(' | ');\n      out.push({\n        id: `sr:${src.slug}:${j.id}`,\n        title: j.name || '',\n        company: src.company,\n        location,\n        url: `https://jobs.smartrecruiters.com/${src.slug}/${j.id}`,\n        jd: '',\n        region: src.region,\n      });\n    }\n  }\n  return out;\n};\n\nconst allJobs = responses.flatMap(r => r.ok ? normalize(r) : []);\n\n// --- FILTER --------------------------------------------------------------\nconst { title_include, title_exclude, allowed_locations, remote_exclude_patterns, min_llm_score } = filters;\nconst allowedLocs = [\n  ...allowed_locations.india,\n  ...allowed_locations.middle_east,\n  ...allowed_locations.remote_friendly,\n];\n\nconst passesTitle = (t) => {\n  const lt = lower(t);\n  if (title_exclude.some(x => lt.includes(x))) return false;\n  return title_include.some(x => lt.includes(x));\n};\nconst passesLocation = (loc, jd) => {\n  const hay = `${lower(loc)} || ${lower(jd).slice(0, 400)}`;\n  if (!allowedLocs.some(x => hay.includes(x))) return false;\n  if (lower(loc).includes('remote') && remote_exclude_patterns.some(p => lower(jd).includes(p))) return false;\n  return true;\n};\n\nconst afterFilter = allJobs.filter(j => passesTitle(j.title) && passesLocation(j.location, j.jd));\n\n// --- DEDUP (workflow-scoped persistent state) ----------------------------\nconst staticData = $getWorkflowStaticData('global');\nstaticData.seen = staticData.seen || {};\nconst today = new Date().toISOString().slice(0, 10);\nconst afterDedup = afterFilter.filter(j => !staticData.seen[j.id]);\nfor (const j of afterDedup) staticData.seen[j.id] = today;\n\n// --- ZERO-ITEM HANDLING --------------------------------------------------\n// Distinguish two zero cases:\n//   1) Boards/filter broken    → throw with diagnostics so we notice\n//   2) Everything already seen → return [] silently; daily cron no-ops\nif (afterDedup.length === 0) {\n  if (afterFilter.length > 0) return [];   // normal: all matches already delivered\n  const board_summary = responses.map(r => ({\n    company: r.src.company,\n    board_type: r.src.board_type,\n    ok: r.ok,\n    error: r.error,\n    raw_count: r.ok\n      ? (r.src.board_type === 'greenhouse'\n          ? (r.data?.jobs?.length || 0)\n          : (Array.isArray(r.data) ? r.data.length : 0))\n      : 0,\n  }));\n  const diag = {\n    boards: board_summary,\n    raw_total: allJobs.length,\n    after_filter: afterFilter.length,\n    after_dedup: afterDedup.length,\n    seen_size: Object.keys(staticData.seen).length,\n  };\n  throw new Error('Zero jobs after filter (boards or filter likely broken). DIAG: ' + JSON.stringify(diag));\n}\n\n// --- RESUME ROUTING ------------------------------------------------------\nconst pickResume = (job) => {\n  const hay = `${lower(job.title)} ${lower(job.jd)}`.slice(0, 4000);\n  for (const rule of routing.rules) {\n    if (rule.match_any.some(k => hay.includes(lower(k)))) return rule.use_resume;\n  }\n  return routing.default_resume;\n};\n\nfor (const j of afterDedup) {\n  j.resume_file = pickResume(j);\n  j.resume_text = resumes[j.resume_file] || resumes[routing.default_resume] || '';\n  j._min_score = min_llm_score ?? 7;\n}\n\nreturn afterDedup.map(j => ({ json: j }));"
      },
      "id": "00000000-0000-0000-0000-000000000002",
      "name": "Fetch + normalize + filter + dedup + route",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 320]
    },
    {
      "parameters": {
        "language": "javaScript",
        "mode": "runOnceForAllItems",
        "jsCode": "// Build the Groq (OpenAI-compatible) request body for each job.\nreturn $input.all().map(it => {\n  const j = it.json;\n  const system = 'You score job fit and return ONLY a JSON object. No prose, no markdown, no code fences.';\n  const user = `Scoring rubric (return JSON: {\"score\": <1-10 integer>, \"verdict\": \"<one short sentence>\", \"must_have_gaps\": [\"...\"]}):\\n- 10 = strong match on role (Product Management), seniority, domain, AND location (India / Middle East / India-friendly remote).\\n- Penalise heavily if the role is non-PM (engineering, marketing, ops, design, data) or seniority is far below the candidate.\\n- Penalise if location is remote but region-locked outside India/GCC.\\n- Reward domain overlap (fintech, payments, BFSI, AI/ML, conversational AI, KYC/KYB).\\n\\nRESUME:\\n${j.resume_text}\\n\\nJOB:\\nTitle: ${j.title}\\nCompany: ${j.company}\\nLocation: ${j.location}\\nJD:\\n${(j.jd || '').slice(0, 3000)}`;\n\n  return {\n    json: {\n      ...j,\n      _prompt: user,\n      _llm_body: {\n        model: 'llama-3.3-70b-versatile',\n        messages: [\n          { role: 'system', content: system },\n          { role: 'user', content: user },\n        ],\n        temperature: 0.2,\n        max_tokens: 256,\n        response_format: { type: 'json_object' },\n      }\n    }\n  };\n});"
      },
      "id": "00000000-0000-0000-0000-000000000003",
      "name": "Build LLM prompts",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [680, 320]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.groq.com/openai/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "=Bearer {{ $env.GROQ_API_KEY }}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json._llm_body) }}",
        "options": {
          "timeout": 30000,
          "response": {
            "response": {
              "neverError": true,
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "00000000-0000-0000-0000-000000000004",
      "name": "Score (Groq Llama 3.3)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [900, 320]
    },
    {
      "parameters": {
        "language": "javaScript",
        "mode": "runOnceForAllItems",
        "jsCode": "// Pair each LLM response with its originating job item (same node, same exec\n// → 1:1 order preserved), parse the score, keep score ≥ threshold, build digest.\nconst jobs = $('Build LLM prompts').all().map(i => i.json);\nconst responses = $input.all().map(i => i.json);\nconst threshold = jobs[0]?._min_score ?? 7;\n\n// Pull the LLM text payload from OpenAI-compatible (Groq) or Gemini-style responses.\nconst extractText = (r) => {\n  if (!r || typeof r !== 'object') return '';\n  // OpenAI / Groq shape\n  const o1 = r?.choices?.[0]?.message?.content;\n  if (typeof o1 === 'string' && o1.length) return o1;\n  const o2 = r?.body?.choices?.[0]?.message?.content;\n  if (typeof o2 === 'string' && o2.length) return o2;\n  const o3 = r?.data?.choices?.[0]?.message?.content;\n  if (typeof o3 === 'string' && o3.length) return o3;\n  // Surface API errors so they show up in the verdict\n  const errMsg = r?.error?.message || r?.body?.error?.message || r?.data?.error?.message;\n  if (errMsg) return `__ERROR__: ${errMsg}`;\n  // Gemini-style fallback (in case we ever swap back)\n  const g1 = r?.candidates?.[0]?.content?.parts?.[0]?.text;\n  if (typeof g1 === 'string' && g1.length) return g1;\n  if (typeof r?.text === 'string') return r.text;\n  return '';\n};\n\n// Tolerant JSON parse: strips ```json fences, finds the outermost {...},\n// and falls back to a regex sweep for score/verdict if JSON.parse still fails.\nconst parseScore = (s) => {\n  if (!s) return null;\n  let cleaned = s.trim();\n  cleaned = cleaned.replace(/^```(?:json)?\\s*/i, '').replace(/```\\s*$/i, '').trim();\n  // pull the first balanced-looking object substring\n  const start = cleaned.indexOf('{');\n  const end = cleaned.lastIndexOf('}');\n  if (start >= 0 && end > start) cleaned = cleaned.slice(start, end + 1);\n  try { return JSON.parse(cleaned); } catch {}\n  // last-resort: regex extract\n  const scoreM = s.match(/\"score\"\\s*:\\s*(\\d+(?:\\.\\d+)?)/);\n  const verdictM = s.match(/\"verdict\"\\s*:\\s*\"([^\"]*)\"/);\n  if (scoreM) return { score: Number(scoreM[1]), verdict: verdictM?.[1] || '' };\n  return null;\n};\n\nconst scored = jobs.map((j, idx) => {\n  const r = responses[idx] || {};\n  const txt = extractText(r);\n  const parsed = parseScore(txt);\n  if (!parsed) {\n    // expose raw shape for one item so failures are visible in Telegram digest\n    return { ...j, score: 0, verdict: `parse failed; raw[0..120]=${txt.slice(0, 120).replace(/\\n/g, ' ')}` };\n  }\n  return { ...j, score: Number(parsed.score) || 0, verdict: parsed.verdict || '' };\n}).filter(j => j.score >= threshold)\n  .sort((a, b) => b.score - a.score);\n\nif (scored.length === 0) {\n  return [{ json: { _skip: true, message: '', count: 0 } }];\n}\n\nconst d = new Date();\nconst dateStr = d.toLocaleDateString('en-GB', { day: '2-digit', month: 'short', year: 'numeric' });\n\n// Build per-job message blocks (with verdict capped so a single job can't blow the message budget)\nconst jobBlocks = scored.slice(0, 30).map((j, i) => {\n  const v = (j.verdict || '').slice(0, 180);\n  const block = [`${i + 1}. ${j.title} — ${j.company} (${j.location}) ★ ${j.score}/10`];\n  if (v) block.push(`   ${v}`);\n  block.push(`   → ${j.url}`);\n  return block.join('\\n');\n});\n\n// Pack blocks into chunks <= MAX chars each, leaving headroom for header/footer\nconst MAX = 3500;\nconst header = `🎯 PM Jobs — ${dateStr}\\n${scored.length} match${scored.length === 1 ? '' : 'es'} (score ≥ ${threshold})\\n`;\nconst footer = '\\nSent by your job bot 🤖';\n\nconst chunks = [];\nlet body = '';\nfor (const block of jobBlocks) {\n  const candidate = body ? body + '\\n\\n' + block : block;\n  if ((header.length + candidate.length + footer.length) > MAX && body) {\n    chunks.push(body);\n    body = block;\n  } else {\n    body = candidate;\n  }\n}\nif (body) chunks.push(body);\n\n// Annotate with part numbers if we ended up with multiple messages\nconst messages = chunks.map((body, i) => {\n  const partTag = chunks.length > 1 ? ` (part ${i + 1}/${chunks.length})` : '';\n  return `🎯 PM Jobs — ${dateStr}${partTag}\\n${scored.length} match${scored.length === 1 ? '' : 'es'} (score ≥ ${threshold})\\n\\n${body}${i === chunks.length - 1 ? footer : ''}`;\n});\n\nreturn messages.map(m => ({ json: { _skip: false, message: m, count: scored.length } }));"
      },
      "id": "00000000-0000-0000-0000-000000000005",
      "name": "Score → filter → format",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1120, 320]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [
            {
              "id": "skip-check",
              "leftValue": "={{ $json._skip }}",
              "rightValue": false,
              "operator": { "type": "boolean", "operation": "equals" }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "00000000-0000-0000-0000-000000000006",
      "name": "Anything to send?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1340, 320]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.telegram.org/bot{{ $env.TELEGRAM_BOT_TOKEN }}/sendMessage",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ chat_id: $env.TELEGRAM_CHAT_ID, text: $json.message, disable_web_page_preview: true }) }}",
        "options": {
          "timeout": 30000,
          "response": {
            "response": {
              "neverError": true,
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "00000000-0000-0000-0000-000000000007",
      "name": "Send Telegram",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1560, 240]
    }
  ],
  "connections": {
    "Daily 8 AM IST": {
      "main": [[{ "node": "Fetch + normalize + filter + dedup + route", "type": "main", "index": 0 }]]
    },
    "Fetch + normalize + filter + dedup + route": {
      "main": [[{ "node": "Build LLM prompts", "type": "main", "index": 0 }]]
    },
    "Build LLM prompts": {
      "main": [[{ "node": "Score (Groq Llama 3.3)", "type": "main", "index": 0 }]]
    },
    "Score (Groq Llama 3.3)": {
      "main": [[{ "node": "Score → filter → format", "type": "main", "index": 0 }]]
    },
    "Score → filter → format": {
      "main": [[{ "node": "Anything to send?", "type": "main", "index": 0 }]]
    },
    "Anything to send?": {
      "main": [
        [{ "node": "Send Telegram", "type": "main", "index": 0 }],
        []
      ]
    }
  },
  "active": false,
  "settings": { "executionOrder": "v1" },
  "pinData": {},
  "tags": []
}
